#table-more-detail th {
	background-color: #EFEFEF;
	width: 200px;
	border: 1px solid #e6e6e6;
}

#table-more-detail th, td {
	padding-left: 10px;
}

#table-more-detail tr {
	border: 1px solid #e6e6e6;
}

#table_question-answer p {
	font-size: 14px;
}

.mySlides {
	display: none;
}

.jumbotron {
	background-color: #f4511e;
	color: #fff;
}