
.dropright {
	position: relative;
	display: inline-block;
}

.dropright-content {
	display: none;
	position: absolute;
	background-color: #edede8;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropright-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropright-content a:hover {
	background-color: #ddd;
}

.dropright:hover .dropright-content {
	display: block;
}

.dropright:hover .dropbtn {
	background-color: #95dee3;
}
