.dropdown:hover .dropdown-menu {
	display: block;
}

#btnFace:hover{
	border : 1px solid blue;
	color: blue;
}

#btnIns:hover{
	border : 1px solid #bf4040;
	color: #bf4040;
	
}

#btnYou:hover{
	border : 1px solid red;
	color: red;
}

.footer-title {
	color: #989898;
	font-style: 14px;
	font-weight: 700;
	margin-bottom: 2px;
}

/*Links in footer when large screen*/
#footer-links{
	display: flex; 
	flex-direction: row; 
	background-color: #F8F9FA; 
	justify-content: space-around; 
	margin-bottom: 2px;
}

/*Links in footer when small screen*/
#footer-links-collapse{
	display: none; 
	background-color: #F8F9FA; 
	justify-content: space-around; 
	margin-bottom: 2px;
}

/* Links below title : INTRUCTION, SERVICES... */
.links-in-footer{
	display: flex; 
	flex-direction: column;
}

/* Footer bottom */
#footer-bottom{
	display: flex; 
	flex-direction: column; 
	justify-content: space-between; 
	background-color: ''; 
	margin-top: 20px;
}

/* Footer botton : first row : facebook, youtube.. */
.footer-bottom-top{
	display: flex; 
	flex-direction: row; 
	justify-content: space-between; 
	background-color: ''; 
	width: 100%;
}

/* Facebook, youtube.. button */
.footer-bottom-top-right button{
	width: 40px; height: 40px; 
	background-color: #F8F9FA; 
	border: none; 
	border-radius: 40px; 
	color: #b3b3b3;
}
/* Footer botton : Second row : [Email]; */
.footer-bottom-bottom{
	display: flex; 
	flex-direction: row; 
	justify-content: space-between; 
	background-color: ''; 
	width: 100%; 
	margin-top: 5px;
}